html {
  height: 100% !important; }

body {
  height: 100% !important; }

body.error-page {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid gray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto !important; }

.logo-in-content {
  height: 100px;
  float: right;
  margin-right: 30px; }

#page-title {
  color: #dd3333;
  font-size: 250%;
  font-family: "Crimson Text", "Times New Roman", serif;
  font-weight: bold;
  margin-top: 30px !important;
  margin-bottom: 20px !important; }

#main-content {
  padding-top: 80px; }
  #main-content #content-container img.photo {
    -webkit-box-shadow: 5px 5px 2px 0 #444444;
    -moz-box-shadow: 5px 5px 2px 0 #444444;
    box-shadow: 5px 5px 2px 0 #444444;
    margin: 15px;
    padding: 0 !important; }
  @media (min-width: 768px) {
    #main-content #content-container #sponsors-sidebar {
      position: fixed;
      left: 20px;
      top: 80px; }
    #main-content #content-container #page-content {
      padding-left: 180px; } }
  #main-content #content-container #sponsors-sidebar {
    text-align: center;
    background: white !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #cccccc; }
    #main-content #content-container #sponsors-sidebar .sponsor-block {
      margin-top: 10px; }
      #main-content #content-container #sponsors-sidebar .sponsor-block .heading {
        font-family: "Crimson Text", "Times New Roman", serif;
        font-size: 150%;
        font-color: #dd3333;
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: 40px; }
      #main-content #content-container #sponsors-sidebar .sponsor-block ul {
        list-style-type: none; }
        #main-content #content-container #sponsors-sidebar .sponsor-block ul li {
          padding: 0;
          margin-left: -5px;
          margin-right: 0;
          margin-top: 5px;
          margin-bottom: 0px; }
    #main-content #content-container #sponsors-sidebar #gold-sponsors img.sponsor-icon, #main-content #content-container #sponsors-sidebar #silver-sponsors img.sponsor-icon, #main-content #content-container #sponsors-sidebar #bronze-sponsors img.sponsor-icon {
      height: 32px !important; }
  #main-content #content-container li {
    line-height: 1.2em !important; }
  #main-content #content-container p {
    margin-bottom: 15px !important;
    line-height: 1.2em !important;
    margin-left: 1em !important; }
  #main-content #content-container ul li {
    margin-left: 1em; }
  #main-content #content-container h1 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #main-content #content-container h2 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #main-content #content-container h3 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #main-content #content-container h4 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #main-content #content-container div#twitter-widget {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    float: right; }

#calendar {
  width: 800px; }

img.last {
  display: block; }
  img.last margin {
    bottom: 20px;
    left: auto;
    right: auto; }

img.right {
  float: right;
  padding-left: 10px; }

div.center {
  width: 30%;
  margin-left: auto;
  margin-right: auto; }
  div.center img {
    padding: 10px;
    align: center; }

img.left {
  float: left;
  padding-right: 10px; }

#toc-block {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  -webkit-box-shadow: 5px 5px 2px 0 #999999;
  -moz-box-shadow: 5px 5px 2px 0 #999999;
  box-shadow: 5px 5px 2px 0 #999999;
  float: right;
  background-color: #9c9c9c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c9c9c), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(top, #9c9c9c, #363636);
  background-image: -moz-linear-gradient(top, #9c9c9c, #363636);
  background-image: -ms-linear-gradient(top, #9c9c9c, #363636);
  background-image: -o-linear-gradient(top, #9c9c9c, #363636);
  background-image: linear-gradient(top, #9c9c9c, #363636); }
  #toc-block a {
    color: white; }
  #toc-block .toc-heading {
    color: white;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    font-size: 140%;
    font-family: "Crimson Text", "Times New Roman", serif; }
  #toc-block ul#toc {
    padding-top: 5px;
    padding-left: 0;
    margin-left: -4px;
    margin-right: 5px;
    list-style-type: none;
    list-style-position: inside;
    background: transparent; }
    #toc-block ul#toc li ul {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 0;
      margin-left: 0px; }

.navbar .navbar-inner .container {
  background-color: #9c9c9c;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9c9c9c), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(top, #9c9c9c, #363636);
  background-image: -moz-linear-gradient(top, #9c9c9c, #363636);
  background-image: -ms-linear-gradient(top, #9c9c9c, #363636);
  background-image: -o-linear-gradient(top, #9c9c9c, #363636);
  background-image: linear-gradient(top, #9c9c9c, #363636); }
  .navbar .navbar-inner .container a:hover {
    background: transparent !important;
    color: red !important; }
  .navbar .navbar-inner .container li.active {
    background: transparent !important;
    color: yellow !important; }
    .navbar .navbar-inner .container li.active a {
      background: transparent !important; }
  .navbar .navbar-inner .container ul#navbar-list li {
    margin: 0 !important;
    padding: 0 !important; }
    .navbar .navbar-inner .container ul#navbar-list li.dropdown ul.dropdown-menu li a {
      color: black !important; }
    .navbar .navbar-inner .container ul#navbar-list li.dropdown ul.dropdown-menu li.active a {
      font-weight: bold !important;
      font-style: italic !important; }
  .navbar .navbar-inner .container .brand #scalathon-logo p {
    font-size: 20px;
    font-family: "Crimson Text", "Times New Roman", serif !important; }
    .navbar .navbar-inner .container .brand #scalathon-logo p img#logo {
      height: 40px !important; }
