#wrapper {
  padding-top: 90px;
  margin-left: 2em;
  margin-right: 2em; }
  #wrapper #top-sponsors {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #cccccc; }
    #wrapper #top-sponsors .logo-separator {
      width: 1em !important; }
    #wrapper #top-sponsors .sponsor-icon {
      height: 50px !important; }
  #wrapper #page-title {
    color: #dd3333;
    font-size: 250%;
    font-family: "Crimson Text", "Times New Roman", serif;
    font-weight: bold;
    margin-top: 30px !important;
    margin-bottom: 20px !important; }
  #wrapper .logo-in-content {
    height: 100px;
    float: right;
    margin-right: 30px; }
  #wrapper li {
    line-height: 1.2em !important; }
  #wrapper p {
    margin-bottom: 15px !important;
    line-height: 1.2em !important;
    margin-left: 1em !important; }
  #wrapper ul li {
    margin-left: 1em; }
  #wrapper h1 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #wrapper h2 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #wrapper h3 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }
  #wrapper h4 {
    font-family: "Crimson Text", "Times New Roman", serif !important;
    padding: 10px 0px 10px 0px !important; }

div#scalathon-footer {
  width: 100%;
  max-height: 50px;
  font-size: 12pt;
  color: #555555;
  background-color: white;
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 50px;
  border-top: 1px solid #cccccc; }
  div#scalathon-footer .footer-left {
    float: left; }
  div#scalathon-footer .footer-right {
    float: right; }
  div#scalathon-footer .footer-center {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  div#scalathon-footer .sponsor-icon {
    height: 45px !important;
    margin-top: 10px; }

div#twitter_widget {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  float: right; }

#calendar {
  width: 800px; }

img.last {
  display: block; }
  img.last margin {
    bottom: 20px;
    left: auto;
    right: auto; }

img.right {
  float: right;
  padding-left: 10px; }

div.center {
  width: 30%;
  margin-left: auto;
  margin-right: auto; }
  div.center img {
    padding: 10px;
    align: center; }

img.left {
  float: left;
  padding-right: 10px; }

#toc-block {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
  -webkit-box-shadow: 5px 5px 2px 0 gray;
  -moz-box-shadow: 5px 5px 2px 0 gray;
  box-shadow: 5px 5px 2px 0 gray;
  float: right;
  background-color: #3d81ed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d81ed), color-stop(100%, #082656));
  background-image: -webkit-linear-gradient(top, #3d81ed, #082656);
  background-image: -moz-linear-gradient(top, #3d81ed, #082656);
  background-image: -ms-linear-gradient(top, #3d81ed, #082656);
  background-image: -o-linear-gradient(top, #3d81ed, #082656);
  background-image: linear-gradient(top, #3d81ed, #082656); }
  #toc-block a {
    color: white; }
  #toc-block .toc-heading {
    color: white;
    text-shadow: 2px 2px 1px black;
    font-weight: bold;
    font-size: 140%;
    font-family: "Crimson Text", "Times New Roman", serif; }
  #toc-block ul#toc {
    padding-top: 5px;
    padding-left: 0;
    margin-left: -4px;
    margin-right: 5px;
    list-style-type: none;
    list-style-position: inside;
    background: transparent; }
    #toc-block ul#toc li ul {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 0;
      margin-left: 0px; }

#wrapper .navbar .navbar-inner .container {
  background-color: #3d81ed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d81ed), color-stop(100%, #082656));
  background-image: -webkit-linear-gradient(top, #3d81ed, #082656);
  background-image: -moz-linear-gradient(top, #3d81ed, #082656);
  background-image: -ms-linear-gradient(top, #3d81ed, #082656);
  background-image: -o-linear-gradient(top, #3d81ed, #082656);
  background-image: linear-gradient(top, #3d81ed, #082656); }
  #wrapper .navbar .navbar-inner .container ul#navbar-list li {
    margin: 0 !important;
    padding: 0 !important; }
  #wrapper .navbar .navbar-inner .container #scalathon-logo img#logo {
    height: 40px !important; }
  #wrapper .navbar .navbar-inner .container #scalathon-logo p {
    font-size: 120%;
    font-family: "Crimson Text", "Times New Roman", serif; }
