@import "bourbon/bourbon";
@import "vars";

// ---------------------------------------------------------------------------
// Variables
// ---------------------------------------------------------------------------

$border-color: #ccc;
$rounded-border-radius: 10px;
$navbar-height: $bootstrapNavbarHeight;
$header-font: "Crimson Text", "Times New Roman", serif;
$header-padding: 10px 0px 10px 0px;
$top-header-color: #dd3333;

$navbar-gradient-top: $bootstrapNavbarBackground;
$navbar-gradient-bottom: darken($navbar-gradient-top, 40%);

$toc-gradient-top: $navbar-gradient-top;
$toc-gradient-bottom: $navbar-gradient-bottom;

$page-title-color: $top-header-color;
$sponsor-sidebar-bgcolor: white;

// ---------------------------------------------------------------------------
// Local mixins
// ---------------------------------------------------------------------------

@mixin drop-shadow($offset: 5px, $spread: 2px) {
  // Drop shadow (lower right)
  @include box-shadow($offset $offset $spread 0 #999);
}

// ---------------------------------------------------------------------------
// General
// ---------------------------------------------------------------------------


html {
  height: 100% !important;
}

body {
  height: 100% !important;
}

@mixin full-height {
  // height: auto !important;
  min-height: 100% !important;
}

#non-navbar-content {

  padding-top: $navbar-height + 40px;

  #content-container {

    #sponsors-sidebar {

      text-align: center;
      background: $sponsor-sidebar-bgcolor !important;

      @include border-radius($rounded-border-radius);
      padding: {
        left: $rounded-border-radius;
        right: $rounded-border-radius;
        top: $rounded-border-radius;
        bottom: $rounded-border-radius;
      }

      border: 1px solid $border-color;
      .sponsor-block {

        margin-top: 10px;

        .heading {
          font: {
            family: $header-font;
            size: 140%;
            color: $top-header-color;
            weight: bold;
            style: italic;
          }

          margin-bottom: 20px;
          margin-top: 20px;
        }

        ul {
          list-style-type: none;

          li {
            padding: 0;
            margin: {
              left: -5px;
              right: 0;
              top: 5px;
              bottom: 0px;
            }
          }
        }
      }

      #big-sponsors {
        img.sponsor-icon {
          height: 50px !important;
        }
      }

      #small-sponsors {
        img.sponsor-icon {
          height: 40px !important;
        }
      }
    }

    div#page-content {
    }

    #page-title {
      color: $page-title-color;

      font: {
        size: 250%;
        family: $header-font;
        weight: bold;
      }

      margin: {
        top: 30px !important;
        bottom: 20px !important;
      }
    }

    .logo-in-content {
      height: 100px;
      float: right;
      margin-right: 30px;
    }

    li {
      line-height: 1.2em !important;
    }

    p {
      margin-bottom: 15px !important;
      line-height: 1.2em !important;
      margin-left: 1em !important;
    }

    ul {
      li {
        margin-left: 1em;
      }
    }

    h1 {
      font-family: $header-font !important;
      padding: $header-padding !important;
    }

    h2 {
      font-family: $header-font !important;
      padding: $header-padding !important;
    }

    h3 {
      font-family: $header-font !important;
      padding: $header-padding !important;
    }

    h4 {
      font-family: $header-font !important;
      padding: $header-padding !important;
    }

    div#twitter-widget {
      margin: {
        left: 20px;
        right: 20px;
        top: 0px;
      }
      float: right;
    }
  }
}

#calendar {
  width: 800px;
}

img.last {
  margin {
    bottom: 20px;
    left: auto;
    right: auto;
  }
  display: block;
}

img.right {
  float: right;
  padding-left: 10px;
}

div.center {
  width: 30%;
  margin: {
    left: auto;
    right: auto;
  }
  img {
    padding: 10px;
    align: center;
  }
}

img.left {
  float: left;
  padding-right: 10px;
}

// ---------------------------------------------------------------------------
// Table of Contents 
// ---------------------------------------------------------------------------

#toc-block {
  @include border-radius($rounded-border-radius);
  padding: $rounded-border-radius;
  border: 1px solid $border-color;
  color: white;

  a {
    color: white;
  }

  margin: {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 20px;
  }

  @include drop-shadow;

  float: right;

  @include linear-gradient(top, $toc-gradient-top, $toc-gradient-bottom);

  .toc-heading {
    color: white;
    text-shadow: 2px 2px 1px black;

    font: {
      weight: bold;
      size: 140%;
      family: $header-font;
    }

  }

  ul#toc {
    padding-top: 5px;
    padding-left: 0;
    margin-left: -4px;
    margin-right: 5px;
    list-style-type: none;
    list-style-position: inside;
    background: transparent;

    li {
      ul {
        list-style-type: none;
        list-style-position: inside;
        padding-left: 0;
        margin-left: 0px;
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Twitter Bootstrap Overrides (that are easier to manage here than custom.less)
// ---------------------------------------------------------------------------

$logo-font-size: 30px;
.navbar {
  .navbar-inner {
    .container {
      ul#navbar-list {
        li {
          margin: 0 !important;
          padding: 0 !important;
        }
      }

      @include linear-gradient(top, $navbar-gradient-top, $navbar-gradient-bottom);

      .brand {

        #scalathon-logo {
          p {
            img#logo {
              height: $navbar-height !important;
            }

            font: {
              size: $logo-font-size;
              family: $header-font !important;
            }
          }
        }
      }
    }
  }
}

