@import url("http://fonts.googleapis.com/css?family=PT+Sans+Caption:regular,bold");
@import url("http://fonts.googleapis.com/css?family=Permanent+Marker");

@import "bourbon/bourbon";

/*
   ---------------------------------------------------------------------------
   GENERAL
   ---------------------------------------------------------------------------
*/

body {
  padding-top: 100px;
}

#wrapper {
  margin-left: 2em;
}

#top-sponsors {
  .sponsor-icon {
    height: 50px !important;
  }
}

div#scalathon-footer {
  width: 100%;
  max-height: 50px;
  font-size: 12pt;
  color: #555555;
  background-color: white;

  padding {
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
  };

  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin {
    bottom: 50px;
  }

  border-top: 1px solid #ccc;

  .footer-left {
      float: left;
  }
  .footer-right {
      float: right;
  }

  .footer-center {
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .sponsor-icon {
    height: 45px !important;
    margin-top: 10px;
  }
}
