@import "bourbon/bourbon";
@import "vars";

$border-color: #ccc;
$rounded-border-radius: 10px;
$navbar-height: $bootstrapNavbarHeight;
$header-font: "Crimson Text", "Times New Roman", serif;
$header-padding: 10px 0px 10px 0px;

$navbar-gradient-top: $bootstrapNavbarBackground;
$navbar-gradient-bottom: darken($navbar-gradient-top, 40%);

$toc-gradient-top: $navbar-gradient-top;
$toc-gradient-bottom: $navbar-gradient-bottom;

$page-title-color: #dd3333;

// ---------------------------------------------------------------------------
// General
// ---------------------------------------------------------------------------


body {
}

#wrapper {
  padding-top: ($navbar-height * 2) + 10px;

  #top-sponsors {
    @include border-radius($rounded-border-radius);
    padding: {
      left: $rounded-border-radius;
      right: $rounded-border-radius;
      top: $rounded-border-radius;
      bottom: $rounded-border-radius;
    }

    .logo-separator {
      width: 1em !important;
    }

    margin: {
      top: 0;
      bottom: 0;
      left: 10px;
      right: 10px;
    }

    border: 1px solid $border-color;

    .sponsor-icon {
      height: 50px !important;
    }
  }

  #page-title {
    color: $page-title-color;

    font: {
      size: 250%;
      family: $header-font;
      weight: bold;
    }

    margin: {
      top: 30px !important;
      bottom: 20px !important;
    }
  }

  .logo-in-content {
    height: 100px;
    float: right;
    margin-right: 30px;
  }

  margin: {
    left: 2em;
    right: 2em;
  }

  li {
    line-height: 1.2em !important;
  }

  p {
    margin-bottom: 15px !important;
    line-height: 1.2em !important;
    margin-left: 1em !important;
  }

  ul {
    li {
      margin-left: 1em;
    }
  }

  h1 {
    font-family: $header-font !important;
    padding: $header-padding !important;
  }

  h2 {
    font-family: $header-font !important;
    padding: $header-padding !important;
  }

  h3 {
    font-family: $header-font !important;
    padding: $header-padding !important;
  }

  h4 {
    font-family: $header-font !important;
    padding: $header-padding !important;
  }
}

div#scalathon-footer {
  width: 100%;
  max-height: 50px;
  font-size: 12pt;
  color: #555555;
  background-color: white;

  padding: {
    left: 0;
    right: 0;
    top: 20px;
    bottom: 0;
  };

  font-family: Helvetica, Verdana, Arial, sans-serif;
  margin: {
    bottom: 50px;
  }

  border-top: 1px solid $border-color;

  .footer-left {
      float: left;
  }
  .footer-right {
      float: right;
  }

  .footer-center {
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .sponsor-icon {
    height: 45px !important;
    margin-top: 10px;
  }
}

div#twitter_widget {
  margin: {
    left: 20px;
    right: 20px;
    top: 0px;
  }
  float: right;
}

#calendar {
  width: 800px;
}

img.last {
  margin {
    bottom: 20px;
    left: auto;
    right: auto;
  }
  display: block;
}

img.right {
  float: right;
  padding-left: 10px;
}

div.center {
  width: 30%;
  margin: {
    left: auto;
    right: auto;
  }
  img {
    padding: 10px;
    align: center;
  }
}

img.left {
  float: left;
  padding-right: 10px;
}

@mixin drop-shadow {
  @include box-shadow(5px 5px 2px 0 gray);
}

// ---------------------------------------------------------------------------
// Table of Contents 
// ---------------------------------------------------------------------------

#toc-block {
  @include border-radius($rounded-border-radius);
  padding: $rounded-border-radius;
  border: 1px solid $border-color;
  color: white;

  a {
    color: white;
  }

  margin: {
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 20px;
  }

  @include drop-shadow;

  float: right;

  @include linear-gradient(top, $toc-gradient-top, $toc-gradient-bottom);

  .toc-heading {
    color: white;
    text-shadow: 2px 2px 1px black;

    font: {
      weight: bold;
      size: 140%;
      family: $header-font;
    }

  }

  ul#toc {
    padding-top: 5px;
    padding-left: 0;
    margin-left: -4px;
    margin-right: 5px;
    list-style-type: none;
    list-style-position: inside;
    background: transparent;

    li {
      ul {
        list-style-type: none;
        list-style-position: inside;
        padding-left: 0;
        margin-left: 0px;
      }
    }
  }
}

// ---------------------------------------------------------------------------
// Twitter Bootstrap Overrides (that are easier to manage here than custom.less)
// ---------------------------------------------------------------------------

$logo-font-size: 16px;
#wrapper {
  .navbar {
    .navbar-inner {
      .container {
        ul#navbar-list {
          li {
            margin: 0 !important;
            padding: 0 !important;
          }
        }

        @include linear-gradient(top, $navbar-gradient-top, $navbar-gradient-bottom);

        #scalathon-logo {
          img#logo {
            height: $navbar-height !important;
          }

          p {
            font: {
              size: 120%;
              family: $header-font;
            }
          }
        }
      }
    }
  }
}

