<div id="footer">
  <div class="footer-center">
    <a target="sponsor" href="http://10gen.com"><img src="img/10gen.png" width="59" height="32" title="10Gen"></a><span class="logo-separator"></span>
    <a target="sponsor" href="http://www.google.com"><img src="img/google.png" width="77" height="32" title="Google"></a><span class="logo-separator"></span>
    <a target="sponsor" href="http://www.meetup.com"><img src="img/meetup.png" width="47" height="32" title="MeetUp"></a><span class="logo-separator"></span>
    <a target="sponsor" href="http://www.typesafe.com"><img src="img/typesafe.png" height="32" title="TypeSafe"></a><span class="logo-separator"></span>
    <a target="sponsor" href="http://www.ardentex.com"><img src="img/ardentex.png" height="45" title="ArdenTex, Inc."></a>
    <a target="sponsor" href="http://www.relaynetwork.com/"><img src="img/relay.jpg" height="45" title="Relay Network"></a>
    <a target="sponsor" href="http://www.t8webware.com/"><img src="img/t8webware.png" height="45" title="T8 Webware"></a>
    <a target="sponsor" href="http://www.ccadllc.com/"><img src="img/ccad.png" height="45" title="CCAD"></a>
    <a target="sponsor" href="http://www.orocast.com/"><img src="img/orocast.png" height="45" title="Orocast"></a>
  </div>
</div>
