<!-- Twitter Bootstrap navbar -->

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/2012/">
        <span id="scalathon-logo">
          <p><img id="logo" src="/img/logo-2012-small.png" alt="Scalathon!">
          Scalathon 2012</p>
        </span>
      </a>

      <div class="nav-collapse">
        <ul id="navbar-list" class="nav pull-left">
          <li id="navbar-home"><a href="index.html">Home</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown" id="navbar-info">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Tell Me More<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li id="navbar-outline"><a href="outline.html">Event Outline</a></li>
              <li id="navbar-calendar"><a href="calendar.html">Calendar</a></li>
              <li id="navbar-logistics"><a href="logistics.html">Logistics</a></li>
              <li id="navbar-register"><a href="register.html">How to Register</a></li>
            </ul>
          </li>
          <li class="divider-vertical"></li>
          <li id="navbar-projects"><a href="projects.html">Projects</a></li>
          <li class="divider-vertical"></li>
          <li id="navbar-talks"><a href="talks.html">Talks</a></li>
          <li class="divider-vertical"></li>
          <li id="navbar-training"><a href="training.html">Training</a></li>
          <li class="divider-vertical"></li>
          <li id="navbar-contact"><a href="contact.html">Contact&nbsp;Us</a></li>
          <li class="divider-vertical"></li>
          <li id="navbar-faq"><a href="faq.html">FAQ</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown" id="navbar-related">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Related Links<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/2011/">Scalathon 2011</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
String.prototype.endsWith = function(suffix) {
  return this.indexOf(suffix, this.length - suffix.length) !== -1;
};

var pathToID = {
  "/2012"                    : ['#navbar-home'],
  "/2012/"                   : ['#navbar-home'],
  "/2012/index.html"         : ['#navbar-home'],
  "/2012/outline.html"       : ['#navbar-info', '#navbar-outline'],
  "/2012/calendar.html"      : ['#navbar-info', '#navbar-calendar'],
  "/2012/logistics.html"     : ['#navbar-info', '#navbar-logistics'],
  "/2012/register.html"      : ['#navbar-info', '#navbar-register'],
  "/2012/contact.html"       : ['#navbar-contact'],
  "/2012/projects.html"      : ['#navbar-projects'],
  "/2012/training.html"      : ['#navbar-training'],
  "/2012/talks.html"         : ['#navbar-talks'],
  "/2012/faq.html"           : ['#navbar-faq']
};

$(document).ready(function() {
  function mapPathToID(path) {
    var key;
    var id = null;
    for (key in pathToID) {
      if (path === key) {
        id = pathToID[key];
        break;
      }
    }

    return id;
  };
  var ids = mapPathToID(window.location.pathname);
  if (ids != null) {
    var i;
    for (i = 0; i < ids.length; i++) {
      $(ids[i]).addClass("active");
    }
  }
});
</script>
