<h1>Sponsors</h1>

<div id="big-sponsors" class="sponsor-block">
  <div class="heading">Big Fish</div>

<!--
<a target="sponsor" href="http://github.com" title="GitHub" class="top-sponsor"><img src="/img/github.png" height="35"></a>
<span class="logo-separator"></span>
-->
  <ul>
    <li><a target="sponsor" href="http://www.google.com"><img src="/img/google.png" title="Google" class="sponsor-icon"></a></li>
  </ul>
</div>

<div id="small-sponsors" class="sponsor-block">
  <div class="heading">Little Fish</div>

  <ul>
    <li><a target="sponsor" href="http://combinatory.net"><img src="/img/combinatory-solutions.png" class="sponsor-icon" title="Combinatory Solutions, Inc."></a></li>
    <li><a target="sponsor" href="http://www.ardentex.com"><img src="/img/ardentex.png" class="sponsor-icon" title="ArdenTex, Inc."></a></li>
  </ul>

</div>


