<div id="top-sponsors">
<a target="sponsor" href="http://github.com" title="GitHub"><img src="img/github.png" height="35"></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a target="sponsor" href="http://www.novus.com/" title="Novus"><img src="img/novus.png" height="35"></a>&nbsp;&nbsp;
<a target="sponsor" href="http://www.chariotsolutions.com"><img src="img/chariot.png" height="35" title="Chariot Solutions"></a>
<a target="sponsor" href="http://www.penn.edu/" title="University of Pennsylvania"><img src="img/penn.png" height="35"></a>
<a target="sponsor" href="http://www.porticosys.com/" title="Portico Systems"><img src="img/portico.png" height="35"></a>
<a target="sponsor" href="http://www.foursquare.com/" title="Foursquare"><img src="img/foursquare.png" height="35"></a>
</div>
<br class="simple-line-break">
